template(name="highscore")
	+toplist
	

template(name="toplist")
	.textblurbs
			h1.center.page-title Top scores on this ArtistHunt
	.inputs.center.mt
		.scoreblurb.mb
			p.center.dark.mbs Your final score is
			p.center.larger.bold.dark.mbs.mt= finalScore
		

		if submitted
			+highscoreList

		else
			h1.center.page-title.medium.nm Enter a
				<span class="mediumHuge" style="color: #9A5CB4;">Yo</span>
				| username!

			form.center.yo.submitForm
				input.round(type="text", name="time", id="yoText", placeholder="Name")

				.buttonContainer.nm
					button.oversized(name="submitYo") Submit

			p.center.white.small (You will get a Yo when someone beats you on the challenge
				br
				span.bold #{startArtist.name}
				| -
				span.bold #{goalArtist.name})		

		+challenge


		.shareButtons.mt
			.facebook
				.fb-share-button(data-href="http://www.theartisthunt.com/", data-width="500", data-type="button")
			.twitter
				a.twitter-share-button.mts.center.tweetStyle(data-text="Check out The Artist Hunt!", data-via="artisthunt", data-count="true", data-size="large", data-url="http://www.theartisthunt.com/") Tweet

	.hello.center
		.centerButton.buttonContainer.largeContainer.mt
			button.oversized.larger.mt.newGame New Game
	
template(name="highscoreList")
	ul.toplist.center.mb
		p.white.large.bold Name/Score
		each highscore
			li
				.submitform
					span.white.large.left.thin= name
					span.white.large.thin /
					span.white.large.right.thin= score	

	
template(name="challenge")
	section
		p.center.page-title.mediumRare.mbs.mt-large Challenge your friends on this combination of artists! 
		input.squared(value="http://www.theartisthunt.com/challenge/#{startArtist.id}/#{goalArtist.id}")





