head
	title The Artist Hunt

body
	//- 

template(name="main")
	section.background(style="background-image: url(#{artistImage})")
	+yield

template(name="splashScreen")
	section.center.splash.mt

		h1.page-title.center Hunt down #{goalArtist.name}!

		p.bold.mb-medium Do it by browsing similar artists, starting from #{startArtist.name}

		//- if chooseArtist

		+missions

		p.center.mts(name="chooseArtist") Or choose two other artists
		+artistSearch

		button.oversized.extra(name="start") Start Hunting

		.absoluteBottomRight
			+twitterHandles

template(name="discover")
	.full-center-contents
		section.artist-area
			.artist-box
				section.discoverSearch
					//- input.squared(name="artistStartSearchField", value="#{startArtist.name}", autocomplete="off")
					//- p.center.white.small.bold Enter an artist
					+artistSearch

					.titles.mb
						//- p.center.medium.np Listening to
						h1.subtle.large.center.np.current-song= playingsong.name
						+musicControls


				+relatedArtists

	.absoluteBottomRight
		p: a.subtle.small.bold.nolink(href="/") Tutorial

	.absoluteUpRight
		+shareArtist

	.absoluteBottomLeft
		+twitterHandles

template(name="discoverOnboarding")
	.full-center-contents
			.onboarding-box
				h1.page-title.center.white.nm The Artist Hunt
				h2.white.center.medium.center.white.mb An intuitive way to discover music
				section
					section.center.half
						img(src="/images/arrowsLeftRight.png" width="180px")
						p.center.mediumRare Navigate artists with left and right

					section.center.half
						img(src="/images/arrowsUp.png" width="180px")
						p.center.mediumRare Select an artist with up
				section.whole
					section.center.half
						img(src="/images/arrowsDown.png" width="180px").pt
						p.center.mediumRare Press down to go to the next song by the artist

					section.center.half
						img(src="/images/space.png" width="180px", style="margin-top:65px;")
						p.center.mediumRare Press spacebar to add song to Spotify library

				section.mb-medium
					p.bold.center.medium You can always jump to an artist by searching in the text field


				section.mt.center
					.pointer.inline.finish-onboarding
						button.oversized.extra.large.bold.center.large.nm Press up to continue


template(name="musicControls")
	section.center.white
		+spotifyControls

template(name="shareArtist")
	//- if sharing
	//- 	//- input.artist-link.small.squared(value="http://www.theartisthunt.com/discover/#{startArtist.id}")
	//- 	+shareButtons
	//- else
		i.white.medium.fa.fa-twitter.share-button.pointer
	
	a(href="http://twitter.com/share?text=The Artist Hunt: &url=http://theartisthunt.com" target="_blank")
		i.white.medium.fa.fa-twitter.share-button.pointer



template(name="spotifyControls")
	//- .pophover: i.medium.pointer.fa.fa-fast-backward.prev-song.large.small-wide-padding
	ul.inline-list.nm.np.white
		unless songAdded
			li.pophover: .small-width
				i.fa.fa-plus.pointer.addSong.large
		else
			li.jelly-back-forth: .small-width
				i.fa.fa-check.pointer.large

		if songPaused
			li.pophover: .small-width: i.medium.pointer.fa.fa-play.play-song.large
		else
			li.pophover: .small-width: i.medium.pointer.fa.fa-pause.pause-song.large

		li.pophover: .small-width: i.medium.pointer.fa.fa-fast-forward.next-song.large


	//- section
	//- if loggedIn
	//- 	p.addSong.small.bold.pointer
	//- 		span.plus: i.fa.fa-plus

	//- 		span(style="color:#9CD92A;") Add song
	//- else
	//- 	p.small.subtle.logIn.pointer.mt
	//- 		span.medium
	//- 			b Log in
	//- 			| with
	//- 			span.bold(style="color:#9CD92A;") Spotify
	//- 	p.small to save tracks to library 


template(name="twitterHandles")
	with random
		p.mediumRare
			span.subtle.small.bold Made with
			i.fa.fa-heart-o.subtle.small.bold
			a.subtle.small.bold(href="https://twitter.com/#{one}")  by @#{one}
			span.subtle.small.bold &amp;
			a.subtle.small.bold(href="https://twitter.com/#{two}") @#{two}
			span.subtle.small.bold |
			a.subtle.small.bold(href="mailto:hello@theartisthunt.com") Leave us feedback!


template(name="artistSearch")
	section.artistForms
		if discoverSearch
			.artistStartSearch.relative.discoverSearch
				input.squared(name="artistStartSearchField", value="#{startArtist.name}", autocomplete="off")
				with startSearchResult
					+artistSearchBox
				i.fa.fa-search.large.absoluteUpLeft.ml.subtle
		else
			.artistStartSearch.half.leftForm.relative
				input.squared(name="artistStartSearchField", value="#{startArtist.name}", autocomplete="off")
				with startSearchResult
					+artistSearchBox

			.artistGoalSearch.half.rightForm.relative
				input.squared(name="artistGoalSearchField", value="#{goalArtist.name}", autocomplete="off")
				with goalSearchResult
					+artistSearchBox

template(name="artistSearchBox")
	ul.absolute.high-z.search-results
		each results
			li= name

template(name="missions")
	with current
		.mission-box(style="background-image:url(#{startImage})")
			//- .left-artist.mission-artist(style="background-image:url(#{startImage})")
			p.absoluteUpLeft.medium.bold.nm= start.name
			.rot-cont
				.right-artist.mission-artist(style="background-image:url(#{goalImage})")

			p.small.bold.absoluteBottomRight.nm= goal.name

template(name="index")
	.full-center-contents
		if splash
			+splashScreen
		else
			if onboarding
				+tutorial
			else
				+gameBoard

template(name="tutorial")
	section
		section
			h3.page-title.center.medium Choose the most relevant artist that gets you closer to #{goalArtist.name}

		section.center
			h3.page-title.center.medium Navigate artists with left and right
			img(src="/images/arrowsLeftRight.png" width="180px")

		section.center
			h3.page-title.center.medium Select with up
			img(src="/images/arrowsUp.png" width="180px")

		section.mt-large
			h3.page-title.center.large Press up to continue

template(name="gameBoard")
	if artist
		section.artist-area
			.titles
				+score
				p.center.medium.np Listening to
				h1.page-title.center.np= artist.name

			+relatedArtists

		.absoluteUpLeft
			//- p.bold.small Now playing
			//- p.underlined.small Add to spotify playlist
			p.big.mt= songname
			p.medium.bold= artist.name
			+spotifyControls

		.absoluteUpRight
			p.big= goalArtist.name
			p.medium.bold Hunting
		

		.absoluteBottomRight
			p.moreDiscreteText.white.startOver(name="startNewHunt") Start new hunt


template(name="relatedArtists")
	if related
		ul.related-artists.inline-list.mt-large.swosh-in
			each related
				li
					+artistBox

template(name="artistBox")
	.artistBoxContainer
		.image(style="background-image: url(#{coverImage.url})")
		p.center.mt.mediumRare.bold= name

template(name="score")
	p.center.mt-large
		span.huge.score= clicks
		//- br
		//- span.medium clicks