head
	title The Artist Hunt

	//- TODO
	//- SEARCHING FOR SUGAR MAN

body
		

template(name="main")
	section.background(style="background-image: url(#{artistImage})")
	+yield

template(name="splasha")
	section.center.splash.mt
		h1.page-title.center Hello, Stranger!
		p.bold.large You are listening to #{artist.name}
		p.large These artists below are the most similar to #{artist.name} that we could find
		p You have been tasked with using them to get to the artist ______


		img(src="/images/arrows.png" width="200px")
		p.small.white Use arrowkeys or mouse

		button.oversized.extra(name="start") Start Hunting

template(name="missions")
	with current
		.mission-box
			.left-artist
				p= start
			.right-artist
				p= goal

template(name="index")
	if artist
		//- img(src=artist.images[0].url)
		//- each artist.images
		//- 	img(src=url)
		if splash
			+splasha
		else
			.full-center-contents
				section.artist-area
					.titles
						//- unless splash
						+score
						p.center.medium.np Listening to
						h1.page-title.center.np= artist.name

						//- p.page-title.large.center #{artist.name}, REALLY?
					if related
						ul.related-artists.inline-list.mt-large.swosh-in
							each related
								li
									+artistBox

		//- .absoluteBottomLeft
			if splash
				section.center
					img(src="/images/arrows.png" width="150px")
					p.small.white Use arrowkeys or mouse

		.absoluteBottomRight
			p.bold.small Now playing
			p.medium= artist.name
			p.big.mt= songname

		.absoluteUpRight
			p.medium.bold Hunting
			p.big Bob Marley
	

template(name="artistBox")
	.artistBoxContainer
		.image(style="background-image: url(#{coverImage.url})")
		h3.center= name

template(name="score")
	p.center.mt-large
		span.huge.score= clicks
		//- br
		//- span.medium clicks