head
	title The Artist Hunt

	//- TODO
	//- SEARCHING FOR SUGAR MAN

body
		

template(name="main")
	section.background(style="background-image: url(#{artistImage})")
	+yield

template(name="splasha")
	section.center.splash.mt

		h1.page-title.center Hunt down #{goalArtist.name}!
		p Do it by navigating similar artists, starting from #{startArtist.name}
		p.small Use left and right arrow keys to navigare, and up to select

		.absoluteBottomRight
			img(src="/images/arrows.png" width="100px")
			p.small.white Use arrow keys to navigate
		+missions

		p.medium.bold.mt Press up to start hunting!

		button.oversized.extra(name="start") Start Hunting

template(name="missions")
	with current
		.mission-box(style="background-image:url(#{startImage})")
			//- .left-artist.mission-artist(style="background-image:url(#{startImage})")
			p.absoluteUpLeft.medium.bold.nm= start.name
			.rot-cont
				.right-artist.mission-artist(style="background-image:url(#{goalImage})")

			p.small.bold.absoluteBottomRight.nm= goal.name

template(name="index")
	if artist
		.full-center-contents
			if splash
				+splasha
			else
				section.artist-area
					.titles
						//- unless splash
						+score
						p.center.medium.np Listening to
						h1.page-title.center.np= artist.name

						//- p.page-title.large.center #{artist.name}, REALLY?
					if related
						ul.related-artists.inline-list.mt-large.swosh-in
							each related
								li
									+artistBox

		//- .absoluteBottomLeft
			if splash
				section.center
					img(src="/images/arrows.png" width="150px")
					p.small.white Use arrowkeys or mouse

	unless splash
		.absoluteBottomLeft
			p.bold.small Now playing
			p.medium= artist.name
			p.big.mt
				span= songname
				span.underlined.small Add to spotify playlist

		.absoluteUpRight
			p.medium.bold Hunting
			p.big= goalArtist.name
	

template(name="artistBox")
	.artistBoxContainer
		.image(style="background-image: url(#{coverImage.url})")
		h3.center= name

template(name="score")
	p.center.mt-large
		span.huge.score= clicks
		//- br
		//- span.medium clicks